@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;  
    display: flex;
    flex-direction: column; 
    align-items: center;
   
    
}
.container{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
 margin: 0;
  background-color: greenyellow;
  font-family: "Press Start 2P";
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 5rem;
}
nav div{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.cont{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 4rem;
}
.contdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:1rem;
  margin-top: 1rem;
}
.cont1{
  padding: .2rem;
  border: 2px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  width: 10rem;
  margin-top: .5rem;
}
.windiv{
  width: 100%;
  background-color: yellow;
  padding: .7rem;
  display: flex;
 
  justify-content: center;

}
.windiv h4{
  align-self: center;
}
.emojis{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.emojis div{
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
align-items: center;
cursor: pointer;
}
.emojis div h4{
  font-size: 3rem;
}
.first{
  margin-top: 4rem;
}
@media  screen and (max-width: 750px) {
  .container{
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

  nav{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .emojis{
    margin: 0 2rem;
  }

  
}